<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Preferences for service contracts will be added here -->
    <preference for="Mageviper\AiLocalSearch\Api\OllamaServiceInterface" type="Mageviper\AiLocalSearch\Model\Service\OllamaService" />
    <preference for="Mageviper\AiLocalSearch\Model\Adapter\Http\ClientAdapterInterface" type="Mageviper\AiLocalSearch\Model\Adapter\Http\ClientAdapter" />
    <preference for="Mageviper\AiLocalSearch\Api\QdrantServiceInterface" type="Mageviper\AiLocalSearch\Model\Service\QdrantService" />
    <preference for="Mageviper\AiLocalSearch\Model\Adapter\Qdrant\ClientAdapterInterface" type="Mageviper\AiLocalSearch\Model\Adapter\Qdrant\ClientAdapter" />

    <!-- Embedding Service Configuration -->
    <preference for="Mageviper\AiLocalSearch\Api\EmbeddingServiceInterface" type="Mageviper\AiLocalSearch\Model\Service\EmbeddingService" />
    <preference for="Mageviper\AiLocalSearch\Api\EmbeddingStrategyInterface" type="Mageviper\AiLocalSearch\Model\Service\Strategy\Embedding\OllamaEmbeddingStrategy" />
</config>